HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



### SECRETS Y LOGS  ###
# Ignora ficheros de log que podamos generar
*.log

# ¡¡LA LÍNEA MÁS IMPORTANTE!!
# Ignora el fichero que contiene nuestra contraseña de BBDD.
# Usamos la ruta completa para ser 100% explícitos.
/src/main/resources/application.properties